body {
    margin: 0em;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.bar {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    .bar-current {
        font-weight: 600;
    }
    .bar-content {
        display: flex;
        margin: 0.75em;
        .padding-13 {
            display: none;
        }
        .logo {
            height: 2.5em;
        }
    }
    .bar-hamburger {
        width: 1.25em;
        cursor: pointer;
    }
}

.content {
    position: relative;
    width: 100%;
    height: 50vh;
    z-index: -1;
    margin: 0em;
    background-color: rgb(32, 32, 32);
    overflow: hidden;
    .hero{
        .hero-img {
            position: absolute;
            top: 0;
            z-index: -1;
            margin: 0;
            width: 100%;
            opacity: 50%;
        }
        .hero-types {
            padding: 10em 0.5em;
            //background-color: #ffffff88;
            .hero-head {
                margin: 0;
                font-size: 2rem;
                color: white;
            }
            .hero-subhead {
                margin: 0;
                font-size: 1.25rem;
                color: whitesmoke;
            }
            .hero-cta {
                margin: 1em 0em;
                font-size: 1rem;
                .hero-btn {
                    margin-right: 1em;
                    padding: 0.2em 1em;
                }
                .hero-cta-pri {
                    border-style: solid;
                    border-width: 0.15em;
                    border-color: #2D4099;
                    background-color: #2D4099;
                    color: #ffffff;
                }
                .hero-cta-sec {
                    border-style: solid;
                    border-width: 0.15em;
                    border-color: #ffffff;
                    color: #ffffff;
                }
            }
        }
    }
}