body {
  margin: 0em;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.bar {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
}

.bar .bar-current {
  font-weight: 600;
}

.bar .bar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.75em;
}

.bar .bar-content .padding-13 {
  display: none;
}

.bar .bar-content .logo {
  height: 2.5em;
}

.bar .bar-hamburger {
  width: 1.25em;
  cursor: pointer;
}

.content {
  position: relative;
  width: 100%;
  height: 50vh;
  z-index: -1;
  margin: 0em;
  background-color: #202020;
  overflow: hidden;
}

.content .hero .hero-img {
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 0;
  width: 100%;
  opacity: 50%;
}

.content .hero .hero-types {
  padding: 10em 0.5em;
}

.content .hero .hero-types .hero-head {
  margin: 0;
  font-size: 2rem;
  color: white;
}

.content .hero .hero-types .hero-subhead {
  margin: 0;
  font-size: 1.25rem;
  color: whitesmoke;
}

.content .hero .hero-types .hero-cta {
  margin: 1em 0em;
  font-size: 1rem;
}

.content .hero .hero-types .hero-cta .hero-btn {
  margin-right: 1em;
  padding: 0.2em 1em;
}

.content .hero .hero-types .hero-cta .hero-cta-pri {
  border-style: solid;
  border-width: 0.15em;
  border-color: #2D4099;
  background-color: #2D4099;
  color: #ffffff;
}

.content .hero .hero-types .hero-cta .hero-cta-sec {
  border-style: solid;
  border-width: 0.15em;
  border-color: #ffffff;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */